.groupcard {
  padding: 10px;
  margin: 20px;

  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
}

.parttext {
  font-size: large;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  padding: 3px 10px;
  margin: 5px;
  line-height: 35px;
  border-radius: 5px;
}
.selectedgrouppart{
  background-color: #eee;
}

.list-inline > li {
	display: inline-block;
  padding: 3px 13px;
  margin: 3px;
  border: solid #aaa thin;
  border-radius: 5px;
  border-top-width: 0px;
}

/*
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
*/

.showdetail{
  list-style:decimal-leading-zero;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.newspaper {
  column-count: 3;
}

.showdetail > li {
  padding: 5px 23px;
  margin: 3px;
}

.badgetext {
  // font-style: italic;
  line-height: 24px;
}

.crossfont
{
  text-decoration: line-through;
}

mat-card-header
{
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  border-bottom:solid #444 thin;
}

.lastnode{
  font-style: italic;
}

.notselectedtitle
{
    color:#999;
}

mat-icon {
  font-size: 14px;
  color: darkred;
}

// .mat-card-header-text
// {
//   width: 100%;
// }

.locationPanel > span 
{
  padding:0px 10px;;
  margin:0px 20px;;
  color: blue;
  border:solid green thin;
  border-top:none;
}

.cmdPanel button {
  margin: 3px;
  background-color: #fafafa;
  border: solid #444 2px;
  border-radius: 30px;
}

.bttnn {
  background-color: #ddd;
  margin: 0px 40px;
  padding: 10px 100px;
  border-radius: 5px;
}

.actiongroup {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  white-space: nowrap;
  width: 100%;
}

.actiongroup input{
  width: 80%;
  margin: 5px 15px;
}

.selectedgroup {
  border-color: #bbb;
  border-width: 4px;
  border-style: solid;
  border-radius: 30px;
}

.selectedbadge {
  // color: red;
  font-weight: bolder;
  font-style: italic;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eee;
}
