.groupcard {
  padding: 10px;
  margin: 20px;
  border: solid #aaa thin;
}

.parttext {
  font-size: large;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  padding: 3px 10px;
  margin: 5px;
  line-height: 35px;
  border-radius: 5px;
}

.list-inline > li {
	display: inline-block;
  padding: 3px 13px;
  margin: 3px;
  border: solid #aaa thin;
  border-radius: 5px;
  border-top-width: 0px;
}

.badgetext {
  // font-style: italic;
  line-height: 24px;
}

mat-card-header
{
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  border-bottom:solid #444 thin;
}

mat-icon {
  font-size: 14px;
  color: darkred;
}

// .mat-card-header-text
// {
//   width: 100%;
// }

.locationPanel > span 
{
  padding:0px 10px;;
  margin:0px 20px;;
  color: blue;
  border:solid green thin;
  border-top:none;
}

.cmdPanel button {
  margin: 3px;
  background-color: #fafafa;
  border: solid #444 2px;
  border-radius: 30px;
}

.bttn {
  background-color: #ddd;
}

.actiongroup {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  white-space: nowrap;
  width: 100%;
}

.actiongroup input{
  width: 80%;
  margin: 5px 15px;
}

.selectedgroup {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.selectedbadge {
  // color: red;
  font-weight: bolder;
  font-style: italic;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eee;
}
