<div *ngFor="let dashboard of cats" class="groupcard" [class.selectedgroup]="dashboard.id === selected.group"
  (click)="selectgroup(dashboard.id)">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title [class.notselectedtitle]="dashboard.id != selected.group">{{dashboard.id}}</mat-card-title>
      <!-- <mat-card-subtitle>{{dashboard | json}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content *ngIf="dashboard.id == selected.group">
      <p>
        <!-- <button *ngFor="let badge of category.badges" mat-raised-button matBadge="7" [matBadgeHidden]="hidden"
       (click)="toggleBadgeVisibility()">
       
     </button> -->
        <!-- <mat-chip-list aria-label="????" class="tagtag">
          <p *ngFor="let part of dashboard.parts;">
            <mat-chip mat-raised-button matBadge="{{part.badges.Count}}">
              {{part.text}}
            </mat-chip>
          </p>
        </mat-chip-list> -->
      </p>
      <ul style="list-style-type: none;padding-inline-start: 0px ; ">
        <li *ngFor="let part of dashboard.parts;">
          <span class="parttext" [class.selectedgrouppart]="dashboard.id == selected.group"
            (click)="showDetail(part)">{{part.text}}</span>
          <ol *ngIf="part.badges?.length != null && part.badges?.length > 0">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: part.badges, part:part }">
            </ng-container>

          </ol>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <div class="locationPanel">
        <span *ngFor="let location of dashboard.locations;" (click)="moveTo(dashboard.id, location)">
          <span class="material-icons">
            location_on
          </span>
          {{location}}
        </span>
      </div>
    </mat-card-actions>
  </mat-card>

</div>


<ng-template #recursiveListTmpl let-list="list" let-part="part">
  <span *ngFor="let badge of list">
    <li [class.selectedbadge]="badge.id === selected.badge.id && part.text == selected.part" *ngIf="badge.status != 3"
      (click)="selectbadgepart($event, part.text, badge)">
      <mat-icon *ngIf="badge.type != 3">attach_file</mat-icon>
      <mat-icon *ngIf="badge.type == 3">folder_open</mat-icon>
      <span [class.lastnode]="badge.items.length == 0 && badge.type != 3">{{badge.text}}</span>
      <mat-icon *ngIf="badge.status == 2">pause</mat-icon>
      <mat-icon *ngIf="badge.status == 1">play_arrow</mat-icon>

    </li>
    <ul *ngIf="badge.items.length > 0">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: badge.items, part:part }"></ng-container>
    </ul>
  </span>
</ng-template>

<br />
<div class="cmdPanel" style="white-space:nowrap;margin: 5px; padding: 20px;">
  <span>New: </span>
  <span>
    <input id="text" [(ngModel)]="text" placeholder="name">
    <br />
    <span>date: </span>
    <input type="date" [(ngModel)]="inputdate" />
    <br />
    <br />
    <span>Extra info: </span>
    <input id="description" [(ngModel)]="description">
  </span>
  <hr />
  <button id="basic" type="button" class="bttn" mat-button (click)="SendTaskRequest()">
    Add task
  </button>
  <button id="basic" type="button" class="bttn" mat-button (click)="SendGoalRequest()">
    Add Goal
  </button>
  <button id="basic" type="button" class="bttn" mat-button (click)="SendGroupRequest()">
    Add Group
  </button>
  <button id="basic" type="button" class="bttn" mat-button (click)="SendMemberRequest()">
    Add Member
  </button>
  <button id="basic" type="button" class="bttn" mat-button (click)="SendMemoryRequest()">
    Add memory item
  </button>
  <mat-chip-list aria-label="????" class="tagtag">
    <p *ngFor="let lit of selected.badge?.linkItems;">
      <mat-chip (click)="SendTaskRequestSpe(lit.link)" mat-raised-button>
        {{lit.text}}
      </mat-chip>
    </p>
  </mat-chip-list>

</div>
<hr />
<!-- <label (click)="text = 'Book Time in Your Calendar for Tasks'">Book Time in Your Calendar for Tasks</label><br>
<label (click)="text = 'The Unicorn Principle'">The Unicorn Principle</label> <br>
<label (click)="text = 'Repurpose Your Great Content'">Repurpose Your Great Content</label> <br>
<label (click)="text = 'Work Less'">Work Less</label> <br>
<label (click)="text = 'Work at Times You’re Most Productive'">Work at Times You’re Most Productive</label> <br>
<label (click)="text = 'Be an Intentional Procrastinator'">Be an Intentional Procrastinator</label> <br>
<label (click)="text = 'Prioritize Your Tasks'">Prioritize Your Tasks(4 section)</label> <br>
<label (click)="text = 'Let a Great Assistant Keep You Organized'">Let a Great Assistant Keep You Organized</label> <br>
<label (click)="text = 'Surround Yourself With Smart People'">Surround Yourself With Smart People</label> <br>
<label (click)="text = 'Find Tools That Automate Repetitive Tasks'">Find Tools That Automate Repetitive Tasks</label>
<br>
<label (click)="text = 'Use Productivity Apps'">Use Productivity Apps</label> <br>
<label (click)="text = 'Use Keyboard Shortcuts'">Use Keyboard Shortcuts</label> <br>
<label (click)="text = ' Be More Efficient With Emails'">Be More Efficient With Emails</label> <br>
<label (click)="text = 'Do More Things You Enjoy'">Do More Things You Enjoy</label> <br>
<label (click)="text = 'Ignore Sports'">Ignore Sports</label> <br>
<label (click)="text = 'Avoid Complaining!'">Avoid Complaining!</label> <br>
<label (click)="text = 'Quit Your Job'">Quit Your Job</label> <br>
 -->
<ol class="list-inline">
  <li (click)='SendReapeatRequest(frequency.daily)'>every day</li>
  <li (click)='SendReapeatRequest(frequency.weekly)'>weekly</li>
  <li (click)='SendReapeatRequest(frequency.days10)'>10 days</li>
  <li (click)='SendReapeatRequest(frequency.fortnightly)'>fortnightly</li>
  <li (click)='SendReapeatRequest(frequency.monthly)'>monthly</li>
  <li (click)='SendReapeatRequest(frequency.test)'>Test only :)</li>
  <div>
    <input type="checkbox" id="repeatIfAllClosed" name="interest" [(ngModel)]="repeatIfAllClosed">
    <label for="repeatIfAllClosed">Only if all closed</label>
  </div>
</ol>

<hr />

<ol class="list-inline">
  <li (click)='setdate(+0)'>today</li>
  <li (click)='setdate(+1)'>tommorow</li>
  <li (click)='setdate(+7)'>next week</li>
  <li (click)='setdate(+10)'>10 days</li>
  <li (click)='setdate(+14)'>two weeks</li>
  <li (click)='setdate(+30)'>next month</li>
</ol>

<hr />

<ul>
  <div class="newspaper">
    <ng-container *ngTemplateOutlet="recursiveListTmpl2; context:{ list: selectedPart.badges }">
    </ng-container>
  </div>
</ul>

<ng-template #recursiveListTmpl2 let-list="list">
  <span *ngFor="let item of list" class="showdetail">
    <li *ngIf="item.items.length == 0" class="" [class.crossfont]="item.status == 3">{{item.text}}</li>
    <span *ngIf="item.items.length > 0">
      <ng-container *ngTemplateOutlet="recursiveListTmpl2; context:{ list: item.items }"></ng-container>
    </span>
  </span>
</ng-template>

<hr />
<ol>
  <li (click)="text = 'Book Time in Your Calendar for Tasks'">Book Time in Your Calendar for Tasks</li><br>
  <li (click)="text = 'The Unicorn Principle'">The Unicorn Principle</li> <br>
  <li (click)="text = 'Repurpose Your Great Content'">Repurpose Your Great Content</li> <br>
  <li (click)="text = 'Work Less'">Work Less</li> <br>
  <li (click)="text = 'Work at Times You’re Most Productive'">Work at Times You’re Most Productive</li> <br>
  <li (click)="text = 'Be an Intentional Procrastinator'">Be an Intentional Procrastinator</li> <br>
  <li (click)="text = 'Prioritize Your Tasks'">Prioritize Your Tasks(4 section)</li> <br>
  <li (click)="text = 'Let a Great Assistant Keep You Organized'">Let a Great Assistant Keep You Organized</li> <br>
  <li (click)="text = 'Surround Yourself With Smart People'">Surround Yourself With Smart People</li> <br>
  <li (click)="text = 'Find Tools That Automate Repetitive Tasks'">Find Tools That Automate Repetitive Tasks</li>
  <br>
  <li (click)="text = 'Use Productivity Apps'">Use Productivity Apps</li> <br>
  <li (click)="text = 'Use Keyboard Shortcuts'">Use Keyboard Shortcuts</li> <br>
  <li (click)="text = ' Be More Efficient With Emails'">Be More Efficient With Emails</li> <br>
  <li (click)="text = 'Do More Things You Enjoy'">Do More Things You Enjoy</li> <br>
  <li (click)="text = 'Ignore Sports'">Ignore Sports</li> <br>
  <li (click)="text = 'Avoid Complaining!'">Avoid Complaining!</li> <br>
  <li (click)="text = 'Quit Your Job'">Quit Your Job</li> <br>
</ol>
<br>
<hr />
<button type="button" class="bttnn" mat-button (click)="Reset()">
  Reset
</button>
<button type="button" class="bttnn" mat-button (click)="DeleteAll()">
  DeleteAll
</button>
<button type="button" class="bttnn" mat-button (click)="DeleteFeedback()">
  Delete feedback
</button>



<!-- <pre>{{selectedPart|json}}</pre> -->