<div *ngFor="let dashboard of cats" class="groupcard" [class.selectedgroup]="dashboard.id === selected.group"
  (click)="selectgroup(dashboard.id)">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{dashboard.id}}</mat-card-title>
      <!-- <mat-card-subtitle>{{dashboard | json}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>
        <!-- <button *ngFor="let badge of category.badges" mat-raised-button matBadge="7" [matBadgeHidden]="hidden"
       (click)="toggleBadgeVisibility()">
       
     </button> -->
        <!-- <mat-chip-list aria-label="????" class="tagtag">
          <p *ngFor="let part of dashboard.parts;">
            <mat-chip mat-raised-button matBadge="{{part.badges.Count}}">
              {{part.text}}
            </mat-chip>
          </p>
        </mat-chip-list> -->
      </p>
      <ul>
        <li *ngFor="let part of dashboard.parts;">
          <span class="parttext">{{part.text}}</span>
          <ol>
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: part.badges, part:part }">
            </ng-container>
            <!-- <li *ngFor="let badge of part.badges;">
              <span class="badgetext" [class.selectedbadge]="badge.id === selected.taskid && part.text == selected.part"
                (click)="selectbadgepart($event, part.text, badge)">
                {{badge.text}}
                <ul>
                  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: badge.items, part:part }">
                  </ng-container>
                </ul>
              </span>
            </li> -->
          </ol>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>


<ng-template #recursiveListTmpl let-list="list" let-part="part">
  <li *ngFor="let badge of list">
    <span 
      [class.selectedbadge]="badge.id === selected.taskid && part.text == selected.part"
      (click)="selectbadgepart($event, part.text, badge)">
      {{badge.text}}
    </span>

    <ul *ngIf="badge.items.length > 0">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: badge.items, part:part }"></ng-container>
    </ul>
  </li>
</ng-template>


<div class="actiongroup groupcard" style="white-space:nowrap">
  <span>New: </span>
  <span>
    <input id="text" [(ngModel)]="text" placeholder="name">
  </span>
  <button id="basic" type="button" class="bttn" mat-button (click)="SendTaskRequest()">
    Add task
  </button>
  <button id="basic" type="button" class="bttn" mat-button (click)="SendGoalRequest()">
    Add Goal
  </button>
  <mat-chip-list aria-label="????" class="tagtag">
    <p *ngFor="let lit of selected.linkItems;">
      <mat-chip (click)="SendTaskRequestSpe(lit.link)" mat-raised-button>
        {{lit.text}}
      </mat-chip>
    </p>
  </mat-chip-list>
  <pre>{{selected|json}}</pre>
</div>
